<a href="https://colab.research.google.com/github/22130056-HoHoangDuy/Labs_ML/blob/main/22130056_HoHoangDuy_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
#Import
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/ML_Labs_Datasets'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/ML_Labs_Datasets

In [48]:
#Task1.1
def drawPyramid(n):
   for i in range(1, n + 1):
        print(" " * (n - i) + "X" * (2 * i - 1))
drawPyramid(4)

   X
  XXX
 XXXXX
XXXXXXX

In [49]:
#Task1.2 Transaction Define
class Transaction:
    def __init__(self, id, type, date, amount):
        self.id = id
        self.type = type  # deposit, withdrawal, transfer
        self.date = date
        self.amount = amount

In [50]:
#Task1.2 Account Define
class Account:
    def __init__(self, accountNo, owner, balance):
        self.accountNo = accountNo
        self.owner = owner
        self.balance = balance
        self.transactions = []

    def addTransaction(self, transaction):
        self.transactions.append(transaction)

In [51]:
#Task1.2 a)
def countDepositTransactions(self):
    return sum(1 for t in self.transactions if t.type == "deposit")
Account.countDepositTransactions = countDepositTransactions

In [52]:
#Task 1.2 b)
def findMaxWithdrawalTransaction(self):
    withdrawals = [t for t in self.transactions if t.type == "withdrawal"]
    return max(withdrawals, key=lambda t: t.amount) if withdrawals else None
Account.findMaxWithdrawalTransaction = findMaxWithdrawalTransaction

In [53]:
#Task1.2 c)
def statByTypes(self):
    stats = {}
    for t in self.transactions:
        stats[t.type] = stats.get(t.type, 0) + 1
    return stats
Account.statByTypes = statByTypes

In [54]:
#Task1.2 d)
def filterTransferTransaction(self, threshold):
    filtered_transfers = [t for t in self.transactions if t.type == "transfer" and t.amount > threshold]
    return sorted(filtered_transfers, key=lambda t: t.type)
Account.filterTransferTransaction = filterTransferTransaction

In [55]:
#Create Account
acc = Account("22130056", "Duy", 100000000)

#Add Transaction
acc.addTransaction(Transaction(1, "deposit", "2025-03-14", 5000000))
acc.addTransaction(Transaction(2, "withdrawal", "2025-03-15", 7000000))
acc.addTransaction(Transaction(3, "deposit", "2025-03-16", 3000000))
acc.addTransaction(Transaction(4, "transfer", "2025-03-17", 1000000))
acc.addTransaction(Transaction(5, "transfer", "2025-03-18", 2500000))

#Test
print("Số giao dịch deposit:", acc.countDepositTransactions())
max_withdrawal = acc.findMaxWithdrawalTransaction()
print("Giao dịch rút tiền lớn nhất:", vars(max_withdrawal) if max_withdrawal else "Không có")

print("Thống kê giao dịch:", acc.statByTypes())

filtered_transfers = acc.filterTransferTransaction(2000000)
print("Giao dịch chuyển khoản trên 2000000:", [vars(t) for t in filtered_transfers])

Số giao dịch deposit: 2
Giao dịch rút tiền lớn nhất: {'id': 2, 'type': 'withdrawal', 'date': '2025-03-15', 'amount': 7000000}
Thống kê giao dịch: {'deposit': 2, 'withdrawal': 1, 'transfer': 2}
Giao dịch chuyển khoản trên 2000000: [{'id': 5, 'type': 'transfer', 'date': '2025-03-18', 'amount': 2500000}]

In [56]:
#Task2.1
a = np.array([2,4,5,7,8])
b = np.array([2,3,7,9,8])
common_items = np.intersect1d(a, b)
print("Common items:", common_items)

Common items: [2 7 8]

In [57]:
#Task2.2
sequence = np.arange(0, 101, 1)
print("Generated sequence:", sequence)

Generated sequence: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]

In [58]:
#Task3.1
# Read file
df = pd.read_csv("users.csv")

# a)
print("a) Last 10 entries:")
print(df.tail(10))

# b)
print("\nb) Number of observations and attributes:", df.shape)

# c)
print("\nc) Column names:", df.columns.tolist())

# d)
print("\nd) Data types of each column:")
print(df.dtypes)

# e)
print("\ne)Different occupations in dataset:")
print(df["occupation"].unique())

# f)
print("\nf) Most frequent occupation:", df["occupation"].value_counts().idxmax())

# g)
print("\ng) Summary of dataset:")
print(df.describe(include="all"))

# h)
print("\nh )Mean age per occupation:")
print(df.groupby("occupation")["age"].mean())

# i)
df["gender"] = df["gender"].map({"M": 1, "F": 0})  # Chuyển đổi giới tính thành số
male_ratio = df.groupby("occupation")["gender"].mean().sort_values(ascending=False)
print("\ni) Male ratio per occupation (sorted):")
print(male_ratio)

# j)
print("\nj) Min and Max age per occupation:")
print(df.groupby("occupation")["age"].agg(["min", "max"]))

# k)
print("\nk) Mean age per occupation and gender:")
print(df.groupby(["occupation", "gender"])["age"].mean())

# l)
gender_counts = df.groupby("occupation")["gender"].value_counts(normalize=True).unstack()
print("\nl) Percentage of men and women per occupation:")
print(gender_counts * 100)  # Đổi sang %

a) Last 10 entries:
     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator     2215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

b) Number of observations and attributes: (943, 5)

c) Column names: ['user_id', 'age', 'gender', 'occupation', 'zip_code']

d) Data types of each column:
user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

e)Different occupations in dataset:
['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']

f) Most frequent occupation: student

g) Summary of dataset:
           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

h )Mean age per occupation:
occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

i) Male ratio per occupation (sorted):
occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

j) Min and Max age per occupation:
               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

k) Mean age per occupation and gender:
occupation     gender
administrator  0         40.638889
               1         37.162791
artist         0         30.307692
               1         32.333333
doctor         1         43.571429
educator       0         39.115385
               1         43.101449
engineer       0         29.500000
               1         36.600000
entertainment  0         31.000000
               1         29.000000
executive      0         44.000000
               1         38.172414
healthcare     0         39.818182
               1         45.400000
homemaker      0         34.166667
               1         23.000000
lawyer         0         39.500000
               1         36.200000
librarian      0         40.000000
               1         40.000000
marketing      0         37.200000
               1         37.875000
none           0         36.500000
               1         18.600000
other          0         35.472222
               1         34.028986
programmer     0         32.166667
               1         33.216667
retired        0         70.000000
               1         62.538462
salesman       0         27.000000
               1         38.555556
scientist      0         28.333333
               1         36.321429
student        0         20.750000
               1         22.669118
technician     0         38.000000
               1         32.961538
writer         0         37.631579
               1         35.346154
Name: age, dtype: float64

l) Percentage of men and women per occupation:
gender                 0           1
occupation
administrator  45.569620   54.430380
artist         46.428571   53.571429
doctor               NaN  100.000000
educator       27.368421   72.631579
engineer        2.985075   97.014925
entertainment  11.111111   88.888889
executive       9.375000   90.625000
healthcare     68.750000   31.250000
homemaker      85.714286   14.285714
lawyer         16.666667   83.333333
librarian      56.862745   43.137255
marketing      38.461538   61.538462
none           44.444444   55.555556
other          34.285714   65.714286
programmer      9.090909   90.909091
retired         7.142857   92.857143
salesman       25.000000   75.000000
scientist       9.677419   90.322581
student        30.612245   69.387755
technician      3.703704   96.296296
writer         42.222222   57.777778

In [59]:
#Task3.2
#Read file
cars_df = pd.read_csv('cars.csv')

# a)
most_expensive_car = cars_df.loc[cars_df['price'].idxmax(), 'company']

# b)
toyota_cars = cars_df[cars_df['company'].str.lower() == 'toyota']

# c)
cars_per_company = cars_df['company'].value_counts()

# d)
highest_price_per_company = cars_df.loc[cars_df.groupby('company')['price'].idxmax(), ['company', 'price']]

# e)
average_mileage_per_company = cars_df.groupby('company')['average-mileage'].mean()

# f)
sorted_cars = cars_df.sort_values(by='price', ascending=True)

#Test
print("a) Hãng xe có chiếc xe đắt nhất:", most_expensive_car)
print("\nb) Thông tin các xe Toyota:\n", toyota_cars)
print("\nc) Tổng số xe của từng hãng:\n", cars_per_company)
print("\nd) Chiếc xe có giá cao nhất của từng hãng:\n", highest_price_per_company)
print("\ne) Trung bình số dặm mỗi gallon của từng hãng:\n", average_mileage_per_company)
print("\nf) Danh sách xe sắp xếp theo giá:\n", sorted_cars)

a) Hãng xe có chiếc xe đắt nhất: mercedes-benz

b) Thông tin các xe Toyota:
     index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

c) Tổng số xe của từng hãng:
 company
toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
mitsubishi       4
volkswagen       4
alfa-romero      3
chevrolet        3
honda            3
isuzu            3
jaguar           3
porsche          3
dodge            2
volvo            2
Name: count, dtype: int64

d) Chiếc xe có giá cao nhất của từng hãng:
           company    price
1     alfa-romero  16500.0
6            audi  18920.0
11            bmw  41315.0
15      chevrolet   6575.0
16          dodge   6377.0
19          honda  12945.0
21          isuzu   6785.0
26         jaguar  36000.0
31          mazda  18344.0
35  mercedes-benz  45400.0
39     mitsubishi   8189.0
44         nissan  13499.0
46        porsche  37028.0
54         toyota  15750.0
58     volkswagen   9995.0
60          volvo  13415.0

e) Trung bình số dặm mỗi gallon của từng hãng:
 company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

f) Danh sách xe sắp xếp theo giá:
     index        company body-style  wheel-base  length engine-type  \
13     16      chevrolet  hatchback        88.4   141.1           l
27     36          mazda  hatchback        93.1   159.1         ohc
48     66         toyota  hatchback        95.7   158.7         ohc
36     49     mitsubishi  hatchback        93.7   157.3         ohc
28     37          mazda  hatchback        93.1   159.1         ohc
..    ...            ...        ...         ...     ...         ...
11     14            bmw      sedan       103.5   193.8         ohc
35     47  mercedes-benz    hardtop       112.0   199.2        ohcv
22     31          isuzu      sedan        94.5   155.9         ohc
23     32          isuzu      sedan        94.5   155.9         ohc
47     63        porsche  hatchback        98.4   175.7       dohcv

   num-of-cylinders  horsepower  average-mileage    price
13            three          48               47   5151.0
27             four          68               30   5195.0
48             four          62               35   5348.0
36             four          68               37   5389.0
28             four          68               31   6095.0
..              ...         ...              ...      ...
11              six         182               16  41315.0
35            eight         184               14  45400.0
22             four          70               38      NaN
23             four          70               38      NaN
47            eight         288               17      NaN

[61 rows x 10 columns]